body {
  font-family: "Poppins", sans-serif;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 50px;
}
.lal-mia {
  color: orange;
}
.boltu {
  width: 50%;
  padding: 7%;
}
section {
  display: flex;
  margin-bottom: 50px;
  margin: 0%;
}
.boltu img {
  width: 100%;
}
.picaso {
  text-decoration: none;
  padding: 20px 50px;
  background-color: orange;
  border-radius: 30px;
  background-image: linear-gradient(orange, red);
  font-weight: 700px;
  color: white;
}
.banner {
  background-image: url(images/shapes/7.png);
  background-repeat: no-repeat;
}
